#photos-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/****************************/
/* IMAGES CAROUSEL */
/****************************/
#photos-carousel-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  width: 71%;
}

#photos-carousel-content {
  align-items: center;
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  width: 100%;
}

#photos-carousel-images {
  align-items: center;
  display: flex;
  position: relative;
  height: 55rem;
}

.carousel-slide {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel-button {
  background-color: white;
  border: none;
  color: #373b3e;
  cursor: pointer;
  height: fit-content;
  top: 50%;
  transition: 0.2s;
}

.carousel-button:hover {
  color: black;
}

/****************************/
/* IMAGES SLIDER */
/****************************/

#images-slider {
  bottom: -15%;
  display: flex;
  gap: 1.2rem;
  height: 6rem;
  justify-content: center;
  list-style: none;
  position: absolute;
}

.images-slide-button {
  border: none;
  cursor: pointer;
  height: 100%;
  opacity: 50%;
  transition: all 1s ease;
}

.images-slide-button.active {
  opacity: 1;
  transform: scale(1.08);
}

.images-slider-image {
  height: 100%;
  object-fit: cover;
}
