/****************************/
/* IMAGES CAROUSEL */
/****************************/

#photos-carousel-container {
  height: 40rem;
  margin: 0 auto;
  position: relative;
  width: 50%;
}

.carousel-slide {
  opacity: 0;
  transition-duration: all 1s ease;
}

.carousel-slide.active {
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 1;
  transform: scale(1.08);
  transition-duration: 1s;
}

.carousel-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel-button {
  background-color: white;
  border: none;
  position: absolute;
  top: 50%;
}

.left-button {
  left: -6rem;
}

.right-button {
  right: -6rem;
}

/****************************/
/* IMAGES SLIDER */
/****************************/

#images-slider {
  bottom: -10rem;
  display: flex;
  gap: 1.2rem;
  height: 6rem;
  justify-content: center;
  left: 0;
  list-style: none;
  position: absolute;
  right: 0;
  width: 100%;
}

.images-slide-button {
  border: none;
  height: 100%;
  opacity: 50%;
  transition: all 1s ease;
}

.images-slide-button.active {
  opacity: 1;
  transform: scale(1.08);
}

.images-slider-image {
  height: 100%;
  object-fit: cover;
  object-position: 0 30%;
  width: 100%;
}
