#photos-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

/****************************/
/* IMAGES CAROUSEL */
/****************************/
.photos-carousel-images {
  height: 60rem;
  object-fit: contain;
  width: 100%;
}

#photos-carousel-images {
  width: 100%;
}

.carousel-slide {
  align-items: center;
  display: flex;
  object-fit: cover;
  width: 100%;
}

.carousel-image,
.slider-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/****************************/
/* IMAGES SLIDER */
/****************************/
.images-slider {
  height: 20%;
  padding: 10px 0;
  width: 50rem;
}

.slider-slide {
  height: 10rem;
}

.images-slider .swiper-slide {
  opacity: 0.4;
}

.images-slider .swiper-slide-thumb-active {
  opacity: 1;
}
