/*************************/
/* ABOUT SECTION FOR DUO */
/*************************/

.about-section {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  height: 100vh;
  justify-content: space-between; 
}

#about-section-header {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.about-duo-section {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 15rem;
}

.about-image-duo {
  gap: 6rem;
  margin-left: 3rem;
  box-shadow: -3rem -3rem 0 #967e76;
  width: 90%;
}


#about-large-text {
  font-size: 8rem;
  margin-bottom: 2.3rem;
  color: #373b3e;

}

#about-small-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  line-height: 3rem;
}

/*************************/
/* MEDIA QUERIES*/
/*************************/ 

@media (max-width: 1024px) {
  #about-section-content {
    gap: 5rem;
  }

  #about-large-text {
    font-size: 5rem;
  }

  #about-small-text {
    font-size: 1.7rem;
  }
}