/*************************/
/* ABOUT SECTION FOR DUO */
/*************************/

.about-section-content {
  align-items: center;
  display: flex;
  gap: 10rem;
}

.about-image-duo {
  box-shadow: -3rem -3rem 0 #967e76;
  height: 50rem;
  margin-left: 3rem;
}

.about-duo-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about-large-text {
  font-size: 7.7rem;
  letter-spacing: 0.23rem;
}

#about-small-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  line-height: 3.7rem;
}

/*************************/
/* MEDIA QUERIES*/
/*************************/

@media (max-width: 1024px) {
  .about-section-content {
    gap: 6rem;
  }

  .about-image-duo {
    height: 40rem;
  }

  .about-duo-section {
    gap: 2rem;
  }

  #about-large-text {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-size: 6.8rem;
  }

  #about-small-text {
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 768px) {
  .about-image-duo {
    height: 32rem;
    margin-left: 2rem;
    box-shadow: -2rem -2rem 0 #967e76;
  }

  .about-duo-section {
    gap: 1.5rem;
  }

  #about-large-text {
    font-size: 5rem;
  }

  #about-small-text {
    font-size: 1.3rem;
    line-height: 2.9rem;
  }
}

@media (max-width: 480px) {
  .about-image-duo {
    display: none;
  }

  #about-large-text {
    font-size: 4.5rem;
  }

  #about-small-text {
    font-size: 1.5rem;
    line-height: 3.2rem;
  }
}
