/*************************/
/* ABOUT SECTION FOR DUO */
/*************************/

.about-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  height: fit-content;
  justify-content: space-between;
}

#about-section-header {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.about-image-duo {
  gap: 6rem;
  margin-left: 3rem;
  box-shadow: -3rem -3rem 0 #967e76;
  width: 100%;
}

.about-duo-section {
  display: flex;
  flex-direction: column;
  width: auto;
}

#about-large-text {
  font-size: 7.7rem;
  letter-spacing: 0.23rem;
  margin-bottom: 2.3rem;
  color: #373b3e;
}

#about-small-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  line-height: 3.7rem;
}

/*********************************/
/* ABOUT SECTION FOR INDIVIDUALS */
/*********************************/
/* #about-divider{
  margin: 5rem 5rem;
  background-color: #494e53;
}
*/
