/****************************/
/* NAVIGATION BUTTON */
/****************************/

.navigation-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  left: 4.8rem;
  position: absolute;
  top: 4.8rem;
  z-index: 2;
  transition: all 0.2s;
  width: 3.2rem;
  height: 3.2rem;
}

.line-one,
.line-two {
  background-color: #494e53;
  height: 0.2rem;
  transition: all 0.2s;
  width: 3.2rem;
}

.navigation-button-clicked {
  gap: 0;
}

.line-one-changed {
  background-color: #494e53;
  position: absolute;
  transform: rotate(135deg);
}

.line-two-changed {
  background-color: #494e53;
  position: absolute;
  transform: rotate(-135deg);
}

/****************************/
/* NAVIGATION SIDEBAR */
/****************************/

.navigation-container {
  align-items: center;
  background-color: #becad4;
  display: flex;
  height: 100vh;
  padding: 4.8rem;
  position: absolute;
  transform: translate(-110%);
  transition: all 0.2s;
  width: 30%;
  z-index: 1;
}

#navigation-links {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  justify-content: center;
  list-style: none;
}

.show-navigation-container {
  transform: translate(0);
}

.navigation-link {
  background: none;
  border: none;
  color: #494e53;
  cursor: pointer;
  font-family: inherit;
  font-size: 4vw;
  text-align: start;
}

.navigation-link:visited {
  transition: all 0.2s;
}

/****************************/
/* HOME BUTTON */
/****************************/

.navigation-home-button {
  background-color: transparent;
  border: none;
  color: #373b3e;
  cursor: pointer;
  font-family: inherit;
  font-size: 3.6rem;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 4.8rem;
  z-index: 2;
  transition: all 0.2s;
  width: fit-content;
  height: fit-content;
}
