/****************************/
/* NAVIGATION BUTTON */
/****************************/

.navigation-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  right: 3.6rem;
  position: absolute;
  top: 3.6rem;
  z-index: 3;
  width: 3.5rem;
  height: 3.5rem;
}

.line-one,
.line-two {
  background-color: #494e53;
  height: 0.2rem;
  transition: all 0.2s;
  width: 3.5rem;
}

.navigation-button-clicked {
  gap: 0;
}

.line-one-changed {
  position: absolute;
  background-color: #494e53;
  transform: rotate(135deg);
}

.line-two-changed {
  background-color: #494e53;
  position: absolute;
  transform: rotate(-135deg);
}

/****************************/
/* NAVIGATION SIDEBAR */
/****************************/

.navigation-container {
  align-items: center;
  background-color: #becad4;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 4.8rem;
  position: absolute;
  right: -100%;
  transition: all 0.2s;
  width: 30%;
  z-index: 2;
}

#navigation-links {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  justify-content: center;
  list-style: none;
}

.show-navigation-container {
  right: 0;
}

.navigation-link {
  background: none;
  border: none;
  color: #494e53;
  cursor: pointer;
  font-family: inherit;
  font-size: 4vw;
  text-align: start;
}

/****************************/
/* HOME BUTTON */
/****************************/

.navigation-home-button {
  background-color: transparent;
  border: none;
  color: #373b3e;
  cursor: pointer;
  font-family: inherit;
  font-size: 3.6rem;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 3.6rem;
  z-index: 2;
  width: fit-content;
  height: fit-content;
}

/****************************/
/* MEDIA QUERIES */
/****************************/

@media (max-width: 768px) {
  .navigation-home-button {
    top: 2.4rem;
  }

  .navigation-menu-button {
    top: 2.4rem;
  }
}

@media (max-width: 480px) {
  .navigation-container {
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  #navigation-links {
    align-items: center;
  }

  .navigation-link {
    font-size: 5rem;
  }
}
