/****************************/
/* NAVIGATION BUTTON */
/****************************/

.navigation-button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  left: 4.8rem;
  position: absolute;
  top: 4.8rem;
  z-index: 2;
  transition: all 0.2s;
  width: 3.2rem;
  height: 3.2rem;
}

.line-one,
.line-two {
  display: inline-block;
  background-color: black;
  width: 3.2rem;
  height: 0.2rem;
  transition: all 0.2s;
}

.navigation-button-clicked {
  gap: 0;
}

.line-one-changed {
  background-color: white;
  position: absolute;
  transform: rotate(135deg);
}

.line-two-changed {
  background-color: white;
  position: absolute;
  transform: rotate(-135deg);
}

/****************************/
/* NAVIGATION SIDEBAR */
/****************************/

.navigation-container {
  background-color: #a5d8ff;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  gap: 4.8rem;
  height: 100vh;
  justify-content: center;
  padding: 4.8rem;
  position: absolute;
  transform: translate(-110%);
  transition: all 0.2s;
  width: 30%;
  z-index: 1;
}

.show-navigation-container {
  transform: translate(0);
}

.navigation-link {
  color: white;
  text-decoration: none;
}
