.email-header {
  margin: 0 28rem;
}

#contact-section-header {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 4rem;
  color: #373b3e;
}

.contact-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  width: 100%;
}

.contact-image {
  object-fit: contain;
  width: 45%;
  height: auto;
}

.contact-form {
  width: 55%;
}

#contact-inputs {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 100%;
}

.contact-input {
  border: none;
  border-radius: 0.2rem;
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
}

.contact-message-input {
    border: none;
    border-radius: 0.2rem;
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
}

.submit-contact-form {
  cursor: pointer;
  background-color: #967e76;
  border: none;
  border-radius: 0.2rem;
  height: 5rem;
  width: 100%;
}

.validation-errors {
    list-style: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    color: #bf0000;
    display: flex;
    flex-direction: column;
}

.error-message {
    opacity: 0;
}

.show-error-message {
    opacity: 1;
}


/****************************/
/* MEDIA QUERIES */
/****************************/

@media (max-width: 1280px) {
  .contact-section {
    height: 100%;
  }
}
