.footer-content {
  align-items: center;
  display: flex;
  border-top: 0.5px solid #373b3e;
  justify-content: space-between;
  padding-top: 4rem;
}

.social-media-links {
  display: flex;
  gap: 2rem;
}

.social-media-link {
  background-color: transparent;
  border: none;
  color: #373b3e;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-link:hover {
  color: black;
}

.footer-copyright {
  color: #373b3e;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .footer-content {
    padding-top: 4rem;
  }

  .social-media-links {
    display: flex;
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding-top: 3rem;
  }

  .social-media-links {
    display: flex;
    gap: 1.5rem;
  }
}
