.recordings-videos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 5rem;
}

.recordings-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.recordings-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/****************************/
/* MEDIA QUERIES */
/****************************/
