#image-modal-image {
  object-fit: contain;
  position: absolute;
  width: fit-content;
  height: 85%;
}

.photo-modal-arrows {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50vw;
  transition: 0.2s ease;
}

.photo-modal-arrows:active {
  opacity: 5;
}

.fa-arrow-left {
  padding-right: 40%;
  visibility: hidden;
}

.fa-arrow-right {
  padding-left: 40%;
  visibility: hidden;
}
