/*************************/
/* ABOUT SECTION FOR DUO */
/*************************/

#about-section {
  height: 1000px;
  background-color: #f7f1e5;
  margin-bottom: 1000px;
}
.about-duo-section{
  width:auto;
}

#about-section-header {
  font-size: 2rem;
  padding-left: 8rem;
  padding-top: 18rem;
}

#about-large-text {
  font-size: 7.7rem;
  padding-left: 60rem;
  padding-right: 3rem;
  padding-top: 7rem;

}

#about-small-text{
  font-size: 2rem;
  padding-left: 60rem;
  padding-right: 3rem;
  padding-top: 3rem;
}


.about-image-duo{
  max-width: 25%;
  max-height: auto;
  margin: -27rem 9rem;
}

#box-behind-duo{
  margin: -12rem 9rem;
  height: 50rem;
  width: 35.72rem;
  background-color: #967e76;
}

/*********************************/
/* ABOUT SECTION FOR INDIVIDUALS */
/*********************************/