/*************************/
/* GLOBAL STYLINGS */
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  animation: fade-in 2s;
  font-family: "DM Serif Display", serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 0.05rem;
  color: #373b3e;
}

input {
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

/*************************/
/* REUSABLE STYLINGS */
/*************************/

.content-padding {
  padding: 4rem 8rem 4rem 8rem;
}

/*************************/
/* KEYFRAMES */
/*************************/

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*************************/
/* MEDIA QUERIES */
/*************************/
@media (max-width: 1024px) {
  .content-margin {
    margin: 10rem;
  }
}

@media (max-width: 768px) {
  .content-margin {
    margin: 5rem 4rem 4rem 4rem;
  }

  section {
    gap: 5.5rem;
  }
}

@media (max-width: 480px) {
  .content-margin {
    margin: 4rem 3rem 3rem 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}
