.photos-section {
  height: 70.2rem;
}

/****************************/
/* IMAGES CAROUSEL */
/****************************/
.image-container {
  display: flex;
  justify-content: center;
}

.photos-carousel-container {
  margin: 0 auto;
  width: 80%;
}

.carousel-image {
  height: 50rem;
}

.slider-image {
  height: 8rem;
  object-fit: contain;
  width: 100%;
}

/****************************/
/* IMAGES SLIDER */
/****************************/
.images-slider {
  padding: 1rem 0;
  width: 60%;
}

.images-slider .swiper-slide {
  opacity: 0.4;
}

.images-slider .swiper-slide-thumb-active {
  opacity: 1;
}
