/****************************/
/* IMAGES CAROUSEL */
/****************************/
.photos-section {
  display: flex;
}

#photos-carousel-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 90%;
}

#photos-carousel-content {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  height: 55rem;
}

#photos-carousel-images {
  display: flex;
}

.carousel-slide {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
  visibility: hidden;
  width: 100%;
}

.carousel-slide.active {
  left: 0;
  opacity: 1;
  position: static;
  right: 0;
  top: 0;
  visibility: visible;
  width: 100%;
}

.carousel-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel-button {
  align-self: center;
  background-color: transparent;
  border: none;
  color: #373b3e;
  cursor: pointer;
  height: fit-content;
  top: 50%;
  transition: 0.2s;
}

.carousel-button:hover {
  color: black;
}

.carousel-button:active {
  background-color: transparent;
}

/****************************/
/* IMAGES SLIDER */
/****************************/

#images-slider {
  display: flex;
  gap: 1.2rem;
  height: 8rem;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.images-slide-button {
  border: none;
  cursor: pointer;
  height: 100%;
  opacity: 50%;
  transition: all 0.7s ease;
  width: 100%;
}

.images-slide-button.active {
  opacity: 1;
}

.images-slider-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/****************************/
/* MEDIA QUERIES */
/****************************/
@media (max-width: 1024px) {
  #photos-carousel-content {
    height: 38rem;
  }

  #images-slider {
    height: 7rem;
  }
}

@media (max-width: 768px) {
  #photos-carousel-content {
    height: 30rem;
  }

  #images-slider {
    height: 7rem;
  }
}

@media (max-width: 480px) {
  #photos-carousel-container {
    width: 100%;
  }

  #photos-carousel-content {
    height: fit-content;
  }

  #photos-carousel-images {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "a b"
      "c d"
      "c e";
    height: 100%;
  }

  .carousel-slide {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: static;
    opacity: 1;
    visibility: visible;
  }

  .carousel-image {
    object-fit: cover;
  }

  .image-slide-1 {
    grid-area: a;
  }

  .image-slide-2 {
    grid-area: b;
  }

  .image-slide-3 {
    grid-area: c;
  }

  .carousel-button {
    display: none;
    pointer-events: none;
  }

  #images-slider {
    display: none;
    pointer-events: none;
  }
}
