#photos-section {
  display: flex;
  flex-direction: column;
  height: 60rem;
  margin: 0 auto;
}

/****************************/
/* IMAGES CAROUSEL */
/****************************/
.photos-carousel-container {
  margin: 0 auto;
  width: 75%;
}
.photos-carousel-images {
  height: 80%;
  object-fit: contain;
  width: 100%;
}

#photos-carousel-images {
  width: 100%;
}

.carousel-slide {
  align-items: center;
  display: flex;
}

.carousel-image,
.slider-image {
  height: 100%;
  width: 100%;
}

/****************************/
/* IMAGES SLIDER */
/****************************/
.images-slider {
  padding: 1rem 0;
  width: 50%;
}

.images-slider .swiper-slide {
  opacity: 0.4;
}

.images-slider .swiper-slide-thumb-active {
  opacity: 1;
}
