@tailwind base;
@tailwind components;
@tailwind utilities;

/*************************/
/* GLOBAL STYLINGS */
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  animation: fade-in 2s;
  background-color: #f7f1e5;
  color: #00165a;
  font-family: "DM Serif Display", serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

.hero-section {
  background-image: url("./images/IMG_4647.jpeg");
}

.images-slider .swiper-slide {
  opacity: 0.5;
}

.images-slider .swiper-slide-thumb-active {
  opacity: 1;
}

/*************************/
/* KEYFRAMES */
/*************************/

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*************************/
/* MEDIA QUERIES */
/*************************/

@media (max-width: 480px) {
  .hero-section {
    background-image: url("./images/IMG_4655.jpeg");
  }
}
