@tailwind base;
@tailwind components;
@tailwind utilities;

/*************************/
/* GLOBAL STYLINGS */
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  animation: fade-in 2s;
  background-color: #f7f1e5;
  color: #00165a;
  font-family: "DM Serif Display", serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 0.05rem;
}

input {
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

.hero-section {
  background-image: url("./images/IMG_4647.jpeg");
}

/*************************/
/* REUSABLE STYLINGS */
/*************************/

.content-margin {
  margin: 8rem 8rem 4rem 8rem;
}

/*************************/
/* KEYFRAMES */
/*************************/

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*************************/
/* MEDIA QUERIES */
/*************************/
@media (max-width: 1024px) {
  .content-margin {
    margin: 10rem;
  }
}

@media (max-width: 768px) {
  .content-margin {
    margin: 5rem 4rem 4rem 4rem;
  }

  section {
    gap: 5.5rem;
  }
}

@media (max-width: 480px) {
  .content-margin {
    margin: 4rem 3rem 3rem 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero-section {
    background-image: url("./images/IMG_4655.jpeg");
  }
}
