.carousel-slide {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
}

.carousel-slide.active {
  left: 0;
  opacity: 1;
  position: static;
  right: 0;
  top: 0;
  visibility: visible;
  width: 100%;
}

@media (max-width: 480px) {
  .carousel-slide {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    position: static;
    opacity: 1;
    visibility: visible;
  }

  .image-slide-1 {
    grid-area: a;
  }

  .image-slide-2 {
    grid-area: b;
  }

  .image-slide-3 {
    grid-area: c;
  }
}
